.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  padding: 1em 0;
  background-color: var(--color-light-50);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.main {
  flex: 1;
  padding: 2em 0;
}

.uppercase {
  text-transform: uppercase;
}

.resume {
  width: min(95%, 8.5in);
  margin-inline: auto;
  background-color: var(--color-light-50);
  display: flex;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1);
}

.left {
  width: 35%;
  padding: 2em 1.5em;
  background-color: var(--color-dark-800);
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.left input,
.left textarea {
  width: 100%;
  background-color: inherit;
  color: var(--color-light-50);
  border: none;
  outline: none;
  line-height: 1;
}

.left textarea {
  padding: 0.5em 0;
  resize: vertical;
}

.left hr {
  margin-bottom: 1em;
}

.section-title {
  color: var(--color-light-50);
  font-weight: 700;
  letter-spacing: 0.2em;
}

.section-input {
  padding-bottom: 0.5em;
}

.first-name {
  font-size: 1.5rem;
}

.last-name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25em;
}

.skills-list {
  list-style-position: inside;
  color: var(--color-light-50);
  width: 100%;
  margin-bottom: 1em;
}

.skill {
  max-width: calc(100% - 22px);
}

.section-btn {
  display: flex;
  gap: 0.5em;
}

.btn {
  width: 100%;
  padding: 0.25em 0;
  border: none;
  border-radius: 100px;
}

.btn:hover {
  opacity: 0.8;
  font-weight: 700;
}

@media screen and (min-width: 425px) {
  .logo {
    font-size: 2rem;
  }
}
